<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Teravision Streaming Server  - {{ title }}!
  </h1>
</div>
<ul>
  <li>
    <h2>E1 CAM 1 -
    <select id="cam1fps" camera="cam1" (change)="framerate($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="15">20</option>
      <option value="15">25</option>
    </select> <a href="http://admin:moldeoneo@192.168.1.13:19915/monitor2.htm" target="_blank">settings</a></h2>

    <img src="http://127.0.0.1/e1cam1"/>
  </li>
  <li>
    <h2>E1 CAM 2 - <a href="http://admin:moldeoneo@192.168.1.13:19915/monitor2.htm" target="_blank">settings</a></h2>
    <img src="http://127.0.0.1/e1cam2"/>
  </li>
  <li>
    <h2>E2 CAM 1 - <a href="http://admin:moldeoneo@192.168.1.13:19915/monitor2.htm" target="_blank">settings</a></h2>
    <img src="http://127.0.0.1/e2cam1"/>
  </li>
  <li>
    <h2>E2 CAM 2 - <a href="http://admin:moldeoneo@192.168.1.13:19915/monitor2.htm" target="_blank">settings</a></h2>
    <img src="http://127.0.0.1/e2cam2"/>
  </li>
</ul>
